<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper class="OleEntryMapperAnno"/>
        <mapper class="FileEntryMapperAnno"/>
        <mapper class="FileEncryptMapperAnno"/>
        <mapper class = "MemberMapperAnno" />
        <mapper class = "RefreshTokenMapperAnno" />
        <mapper class="TestMapperAnno" />
        <!-- 계속 추가 가능~~-->
    </mappers>
</configuration>

